@import "reset.css";

* {
  box-sizing: border-box;
}
.first-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 2;
  position: absolute;
}
.login-form > h1 {
  color: white;
}
.login-form > form > input[type="text"] {
  border: none;
  border-bottom: 1px white solid;
  background-color: transparent;
  text-align: center;
  width: 340px;
  height: 50px;
  font-size: 30px;
  color: white;
}
.login-form > form > input[type="text"]:focus {
  outline: none;
}
.login-form > form input[type="submit"] {
  border: none;
  background: transparent;
  width: 0;
  height: 0;
}

.momentum {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.momentum-header {
  padding: 1.2% 2.2%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.momentum-header__search-bar > span {
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}
.momentum-header__search-bar > span:hover {
  opacity: 1;
}
.momentum-header__search-bar {
  display: flex;
  align-items: center;
  color: white;
}
.search-google {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
  border-bottom: 1px solid rgb(255, 255, 255, 0);
  transition: border-bottom-color 0.2s ease-in-out;
}
.search-google:hover {
  border-bottom-color: rgb(255, 255, 255, 0.5);
}
.search-google:focus-within {
  border-bottom-color: rgb(255, 255, 255, 1);
}
#search-google__submit {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 0;
}
#search-google__input {
  position: relative;
  height: 36px;
  width: 200px;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  color: white;
}
#search-google__input:focus {
  outline: none;
}
.search-google__submit-label {
  position: absolute;
  left: 0;
  font-size: 15px;
}
.fa-google {
  position: absolute;
  right: 0;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.search-google:hover > .fa-google {
  opacity: 0.5;
}
.search-google:focus-within > .fa-google {
  opacity: 1;
}
.momentum-header__status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}
.momentum-header__status > .momentum-header__weather {
  font-size: 25px;
  font-weight: 600;
}
.momentum-header__status > span {
  font-size: 13px;
}
.momentum-clock {
  font-size: 180px;
  font-weight: 500;
  color: white;
  margin-top: 27vh;
}
.momentum-greeting {
  font-size: 50px;
  margin-top: 2vh;
  font-weight: 600;
  color: white;
}
.momentum-focus {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  color: White;
}
.momentum-focus > span {
  color: white;
  font-size: 35px;
}
.momentum-focus > input[type="text"] {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  font-size: 40px;
  color: white;
  text-align: center;
}
.momentum-focus > input[type="submit"] {
  border: none;
  background-color: transparent;
  height: 0;
  width: 0;
}
.momentum-focus > input[type="text"]:focus {
  outline: none;
}
.momentum-focuson {
  color: white;
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.momentum-focuson > span {
  font-size: 23px;
  font-weight: 600;
}
.momentum-focuson__user-focus {
  height: 40px;
  margin-top: 1.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.momentum-focuson__box {
  height: 23px;
  width: 23px;
  border-radius: 25%;
  border: 2px solid rgb(230, 230, 230);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.momentum-focuson__user-focus:hover > .momentum-focuson__box {
  opacity: 1;
}
.momentum-focuson__text {
  font-size: 40px;
  margin: 0 15px;
}
.momentum-focuson__user-focus > i {
  color: rgb(230, 230, 230);
  font-size: 23px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.momentum-focuson__user-focus:hover > i {
  opacity: 1;
}
.momentum-footer {
  padding: 0 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.momentum-footer > div:first-child {
  width: 200px;
  font-size: 20px;
  color: white;
}
.momentum-footer__location {
  font-size: 15px;
}
.momentum-footer > div:first-child > i {
  opacity: 0.8;
}
.momentum-footer > div:nth-child(2) {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 550px;
}
.momentum-footer > div:nth-child(2):hover > span {
  transform: translateY(-50%);
}
.momentum-footer > div:nth-child(2):hover > div {
  opacity: 1;
}
.momentum-footer__text {
  text-align: center;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
}
.momentum-footer__saying-inf {
  position: absolute;
  bottom: 0;
  width: 180px;
  display: flex;
  opacity: 0;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: opacity 0.2s ease-in-out;
}
.todoscreen {
  background-color: white;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  right: 7px;
  bottom: 65px;
  height: 280px;
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.todoscreen-header {
  display: flex;
  margin: 10px 15px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
.todoscreen-header__folderselect > span {
  font-size: 23px;
}
.todoscreen-content {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checklists {
  width: 100%;
  height: 160px;
  overflow-y: scroll;
}
.checklists::-webkit-scrollbar {
  display: none;
}
.todoCheckList {
  width: 100%;
  padding: 5px;
  display: flex;
  position: relative;
}
.todoCheckList > div:first-child {
  height: 14px;
  width: 14px;
  border-radius: 4px;
  border: solid 1px;
  margin-top: 5px;
  position: relative;
  margin-right: 10px;
}
.todoCheckList > div:first-child > i {
  position: absolute;
  top: 2px;
  left: 1px;
  font-size: 8px;
  color: white;
}
.todoCheckList > span {
  font-size: 20px;
}
.todoCheckList > i {
  position: absolute;
  top: 10px;
  right: 15px;
}
.checklists > .checked > div {
  background-color: blue;
}
.checklists > .checked > span {
  text-decoration: line-through;
  opacity: 0.5;
}
.todoscreen-content > span {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
  margin-top: 30px;
}
.todoscreen-content__switch {
  margin-top: 15px;
  font-size: 15px;
  opacity: 0.5;
}
.todoscreen-content__button {
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  background-color: #c29b3c;
  color: white;
  font-size: 15px;
  border-radius: 30px;
}
.todoscreen-content > input {
  position: absolute;
  bottom: 10px;
  height: 50px;
  width: 90%;
  border: none;
  font-size: 18px;
  opacity: 0.8;
}
.todoscreen-content > input:focus {
  outline: none;
}
.momentum-footer > div:last-child {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

body > img {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.hidden {
  display: none;
}
